@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --primary-color: #a9bcd0ff;
   --secondary-color: #58a4b0ff;
   --accent1-color: #d8dbe2ff;
   --accent2-color: #373f51ff;

   --heading-font: "Montserrat", sans-serif, font-weight=600;
   --paragraph-font: "Montserrat", sans-serif, font-weight=400;

   --nav-background-color: #a9bcd0ff;
   --nav-link-color: var(--accent1-color);
   --nav-hover-link-color: var(--accent2-color);
   --nav-hover-background-color: var(--accent1-color);    
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 1040px;
   font-family: "Montserrat", sans-serif;
}

header {
   background-color: var(--nav-background-color);
   padding: 1em;
   text-align: center;
}

header nav a {
   padding: 3px;
   display: flex;
   justify-content: space-evenly;
   align-items: right;

}

a {
   text-decoration: none;
}


main div {
   position: relative;
}

main div img {
   width: 360px;
   height: auto;
   margin: 1em;
}

main article {
   /* position: relative; */
   clear: both;
}

main div h1 {
   font-family: var(--heading-font);
   font-size: 2.5em;
   color: var(--primary-color);
   margin-top: 1em;
   clear: both;
}

.hero {
   /* position: absolute; */
   top: 25px;
}

h1 {
   position: relative;
   bottom: 50px;
   left: 50px;
   text-shadow: 1px 1px 3px white;
}

nav {
   display: flex;
}

nav a {
   display: inline-block;
   justify-content: space-between;
   align-items: center;
   padding: 10px;

}

header nav img {
   margin-right: 55px;
}


.collage {
   display: flex;
}

h2 > .collage {
   justify-content: center;

}

* > .collage {
   clear : both;
   
}