/* CSS HEX */
/* --platinum: #d8dbe2ff;
--powder-blue: #a9bcd0ff;
--moonstone: #58a4b0ff;
--charcoal: #373f51ff;
--eerie-black: #1b1b1eff; */

/* https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: "Montserrat", sans-serif;
   max-width: 960;
   padding: 20;
}

:root {
   --primary-color: #a9bcd0ff;
   --secondary-color: #58a4b0ff;
   --accent1-color: #d8dbe2ff;
   --accent2-color: #373f51ff;

   --heading-font: "Montserrat", sans-serif, font-weight=600;
   --paragraph-font: "Montserrat", sans-serif, font-weight=400;

   --nav-background-color: #d8dbe2ff;
   --nav-link-color: var(--accent1-color);
   --nav-hover-link-color: var(--accent2-color);
   --nav-hover-background-color: var(--accent1-color);    
}

p {
   padding: 25px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: var(--heading-font);
   color: var(--secondary-color);
}

header {
   padding: 20px;
   background-color: var(--accent1-color);
}

nav {
   background-color: var(--nav-background-color);
   font-size: 1.20rem;
   display: flex;
   }

nav a {
   display: block;
   color: var(--nav-link-color);
   text-decoration: none;
   padding: 1rem;
}

nav a:link, nav a:visited{
  color: var(--nav-link-color);
}

nav a:hover {
   color: var(--nav-hover-background-color);
   background-color: aqua;
}
