/* todo
fix the color of temple links
why eagle so small
picture a lil wonky location
some padding allowed in the universal selector would be nice. 
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   font-family: "Montserrat", sans-serif;
}

main {
   grid-column: 2/3;
   margin: 1rem;
}

nav {
   background-color: #353a52;
   accent-color: rgb(88, 135, 88);
   color: rgb(252, 187, 102)
}

nav a {
   font-weight: 800;
   color: rgb(252, 187, 102);
   text-decoration: none;
      
}

aside {
   width: 12rem;
   margin: 10px;
   border: 10px;
   padding: 1px;
   background-color: #535b80;
   color: beige;
   text-align: center;
   position: relative;
   width: 20rem;
   position: relative;
   grid-column: 1/2;
   grid-row: 1/2;

}

aside h2 {
   font-size: .7rem;
   padding: .1rem;
}

aside img {
   width: 95%;
   height: auto;
}


main img {
   width: 200px;
   height: auto;
   float: right;
   margin: 1.5rem;
}

main ul {
   clear: left;
   width: 20rem;
   background-color: aliceblue;
   border-color: blue;
}

p {padding: 0;}

nav {
   padding: .5rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 15px;
}

img {
   width: 5rem;
   height: auto;
   border: 0;
   padding: 0;
   box-shadow: 0 0 30px gray;
}

h1 {
   max-width: 840px;
   border-bottom: 2px solid var(#353a52);
}

footer {
   opacity: .5;
}

/* Class Selectors */
.box {
   margin: 1rem;
   border: 1px solid rgb(88, 135, 88);
   padding: 1rem;
   background-color: #353a52;
   color: rgb(252, 187, 102);
}

aside {
   width: 20rem;
   height: 100%;
   text-align: center;
   position: relative;
   grid-row: 1/2;
   grid-column: 1/2;
}

aside h2 {
   color: black;
   text-shadow: 1px 1px 1px white;
   position: absolute;
   top: 25px;
   left: 30px;
}

a {
   text-decoration: none;
}

header, footer{
   max-width: 840px;
   margin: 0 auto;
}

header, .grid, footer {
   display: grid;
   align-items: center;
}